.bubbleInput>input[type=number]::-webkit-inner-spin-button,
.bubbleInput>input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
}